@keyframes prevent-mouse {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: auto;
  }
}

@keyframes chronologie-pop {
  from {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  to {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
}

@keyframes chronologie-appear {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 47vw;
  }
}

@keyframes chronologie-name-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes error-appear {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 20px;
    opacity: 1;
  }
}

@keyframes error-disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes loader-animation {
  50% {
    width: 100%;
  }

  100% {
    right: 0;
    left: unset;
    width: 0%;
  }
}
