@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: unset;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

html, input, button {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body {
  position: relative;
  min-height: 100svh;
}

.chronologie-page {
  position: relative;
  background-color: #dda15e;
  height: 100svh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);

  .links-container {
    display: flex;
    gap: 20px;

    li {
      opacity: .4;
      position: relative;
      transition: opacity .3s,
                  color .3s;

      &:hover {
        opacity: .8;
        color: #fefae0;

        &::after {width: 80%;}
      }

      &.active {
        color: #fefae0;
        opacity: 1;

        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: white;
        transition: width .3s;
      }
    }
  }
}

.chronologie-page-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
  animation: prevent-mouse .1s forwards;
  animation-delay: 2s;
}

.no-chronologie-container {
  font-size: 1.4rem;
  color: white;
}

.chronologie-container {
  position: relative;
  margin-left: calc(50vw - 25px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50vw;
  transition-property: transform;
  transition-duration: 1000ms;
}

.chronologie-element-container {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  a {
    transition: opacity .7s;
  }
}

.new-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
}

.new-element-name, .update-element-name {
  outline: 0;
  border: 0;
  background: transparent;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fefae0;
  font-weight: bold;
  max-width: 300px;
}

.new-element-date-container, .update-element-date-container {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 10px;
  margin: 10px 0;

  .new-element-date, .update-element-date {
    width: 80px;
    outline: 0;
    border: 0;
    background: transparent;
    color: #fefae0;
    font-weight: bold;
    opacity: .7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }
}

.new-chronologie-button, .update-element-button {
  padding: 4px 12px;
  font-size: .9rem;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fefae0;
  color: #fefae0;
  font-weight: 600;
  border-radius: 10px;
  opacity: 0;
  display: flex !important;
  transition: color .2s,
              background .2s,
              opacity .3s;

  &:hover {
    background: #fefae0;
    color: #dda15e;
  }
}

.new-chronologie-button-appear {
  opacity: 1;
}

.close-chronologie-edit {
  position: absolute;
  top: 0;
  left: -35px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 0;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    width: 100%;
    height: 2px;
    background: red;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
    width: 100%;
    height: 2px;
    background: red;
  }
}

.chronologie-element {
  width: 0px;
  height: 0px;
  border: 2px solid #fefae0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  animation: chronologie-pop .8s cubic-bezier(1, 0, 0, 2) forwards;

  &:hover::after {
    width: 70%;
    height: 70%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background: #fefae0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 
      width .5s,
      height .5s;
  }
}

.chronologie-element-active {
  &::after {
    width: 90%;
    height: 90%;
  }
}

.chronologie-info {
  text-align: center;
  opacity: 0;
  animation: appear 1s linear forwards;
  animation-delay: 1.2s;

  p:nth-child(1) {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fefae0;
    font-weight: bold;
  }

  p:nth-child(2) {
    color: #fefae0;
    font-weight: bold;
    opacity: .7;
  }
}

.chronologie-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;


  .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: opacity .4s;
    width: 100%;

    span {
      cursor: pointer;
      opacity: 0;
      transition: opacity .4s;
      animation: appear-buttons .5s linear forwards;

      &:hover {
        opacity: 1 !important;
      }
    }
  }

}

.prev-link {
  display: block;
  height: 3px;
  border-radius: 2px;
  background: white;
  position: absolute;
  left: -49vw;
  top: 25px;
  transform: translateY(-50%);
  opacity: 0;
  animation: chronologie-appear .5s linear forwards;
  animation-delay: 1s;
}


.next, .previous {
  position: absolute;
  width: 30vw;
  height: 100svh;
  right: 0;
  z-index: 99;
  background: #DDA15E;
}

.next {
  background: -webkit-linear-gradient(90deg, rgba(221, 161, 94, 0) 0%, rgba(221, 161, 94, 1) 90%);
  background: -moz-linear-gradient(90deg, rgba(221, 161, 94, 0) 0%, rgba(221, 161, 94, 1) 90%);
  background: linear-gradient(90deg, rgba(221, 161, 94, 0) 0%, rgba(221, 161, 94, 1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DDA15E", endColorstr="#DDA15E", GradientType=1);
}

.previous {
  left: 0;
  background: #DDA15E;
  background: -webkit-linear-gradient(90deg, rgba(221, 161, 94, 1) 0%, rgba(221, 161, 94, 0) 100%);
  background: -moz-linear-gradient(90deg, rgba(221, 161, 94, 1) 0%, rgba(221, 161, 94, 0) 100%);
  background: linear-gradient(90deg, rgba(221, 161, 94, 1) 0%, rgba(221, 161, 94, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DDA15E", endColorstr="#DDA15E", GradientType=1);
}

.dark-text {
  color: black !important;

  strong { color: red }

  .return-button {
    color: black !important;
    border-color: black !important;

    &:hover {
      color: white !important;
      background: black !important;
    }
  }
}

.pop-up-delete-chronologie {
  color: #fefae0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0;
  animation: appear .5s linear forwards;

  p {
    width: 300px;
    text-align: center;
  }

  .pop-up-button-container {
    display: flex;
    gap: 5px;


    button {
      padding: 4px 12px;
      font-size: .9rem;
      text-transform: uppercase;
      background: transparent;
      border: 2px solid #fefae0;
      color: #fefae0;
      font-weight: 600;
      border-radius: 10px;
      opacity: 1;
      transition: color .2s,
        background .2s,
        opacity .3s;

      &:hover {
        background: #fefae0;
        color: #dda15e;
      }

      &:nth-child(1) {
        border: 2px solid #d90429;
        color: #d90429;

        &:hover {
          background: #d90429;
          color: #fefae0;
        }
      }
    }
  }
}

/* Article in Mouvement */
.articles-page, .cours-page, .artistes-page {
  background: #fdfffc;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-section {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
  margin-left: auto;
}

.select-author {
  background: transparent;
  border: 1px solid lightgrey;
  padding: 5px 10px; 
  font-size: .8rem;
  font-family: "Outfit", sans-serif;
  border-radius: 10px;
}

.articles-page-container, .cours-page-container, .artistes-page-container {
  display: grid;
  grid: auto / 1fr 1fr 1fr;
  gap: 50px;
}

.article-container, .cour-container, .artiste-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 370px;
  text-decoration: none;
  
  .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;

    &:hover .article-image, &:hover .artiste-image {
      width: 110%;
    }

    input[type=file] {
      pointer-events: all;
      height: 105%;
      min-width: 100%;
      position: relative;
      opacity: 0;
    }

    .input-style {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      min-width: 100%;
      background: lightgrey;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 10px;
        background: white;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        width: 50px;
        height: 10px;
        background: white;
      }
    }

    .article-image, .cour-image, .artiste-image { 
      pointer-events: none;
      transition: width .2s ease-out;
      object-fit: cover;
      min-height: 100%;
      height: auto;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  .article-information-container, .cour-information-container, .artiste-information-container {
    margin-top: 10px;
    overflow: hidden;

    h3 {
      font-weight: 500
    }

    p, div {
      display: flex;
      align-items: center;
      font-size: .9rem;
      opacity: .5;
    }

    div {
      gap: 10px;
    }

    .title-input {
      border: 0;
      color: black;
      font-weight: 500;
      font-size: 1.15rem;
      outline: 0
    }

    div .artiste-value, .subject-value {
      border: 0;
      outline: 0;
      width: 40%;
      font-size: .9rem;
    }

    div .date-value {
      border: 0;
      outline: 0;
      width: 30%;
    }

  }

  .new-article-button, .close-edit-view {
    background: transparent;
    border: 2px solid black;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 10px;
    transition: all .3s;

    &:hover {
      background: black;
      color: white;
    }
  }

  .close-edit-view {
    color: red;
    border-color: red;

    &:hover {
      background: red;
    }

  }

  .buttons-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.pop-up-delete-article {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  p {
    width: 300px;
    text-align: center;
  }

  .pop-up-button-container {
    display: flex;
    gap: 10px;


    button {
      padding: 4px 12px;
      font-size: .9rem;
      text-transform: uppercase;
      background: transparent;
      border: 2px solid black;
      color: black;
      font-weight: 600;
      border-radius: 10px;
      opacity: 1;
      transition: color .2s,
        background .2s,
        opacity .3s;

      &:hover {
        background: black;
        color: #fefae0;
      }

      &:nth-child(1) {
        border: 2px solid #d90429;
        color: #d90429;

        &:hover {
          background: #d90429;
          color: #fefae0;
        }
      }
    }
  }
}

.search-article {
  font-size: 1rem;
  padding: 5px 10px; 
  border-radius: 5px;
  outline: 0;
  border: 1px solid lightgrey;
}

/* Error Handler */
.fetch-return {
  position: fixed;
  top: 20px;
  right: -100%;
  opacity: 0;
  animation: error-appear .4s ease-out forwards;
  -webkit-animation-name: error-appear, error-disappear;
  -webkit-animation-duration: .3s, .5s;
  -webkit-animation-delay: 0s, 4.5s;
  max-width: 70vw;
  padding: 10px 15px;
  text-align: end;
  border-radius: 20px;
  font-weight: 550;
  font-size: .9rem;
  z-index: 999;
  transition: top .3s;
  pointer-events: none;
}

.success-return {
  border: 2px solid #386641;
  color: #386641;
  background: #6a994e;
  box-shadow: rgba(163, 177, 138, 0.2) 0px 8px 24px;
}

.error-return {
  border: 2px solid #780000;
  color: #780000;
  background: #c1121f;
  box-shadow: rgba(163, 177, 138, 0.2) 0px 8px 24px;
}


/* Return */
.return {
  text-decoration: underline;
}

/* .return { cursor: pointer; */
/*   width: 50px; */
/*   height: 50px; */
/*   position: absolute; */
/*   top: 20px; */
/*   left: 50px; */
/*   border-radius: 50%; */
/*   border: 2px solid black; */
/**/
/*   &::after { */
/*     content: ""; */
/*     position: absolute; */
/*     top: 34%; */
/*     left: 45%; */
/*     width: 40%; */
/*     height: 2px; */
/*     background: black; */
/*     transform: translateX(-50%) rotate(-45deg); */
/*     transition: left .2s; */
/*   } */
/**/
/*   &::before { */
/*     content: ""; */
/*     position: absolute; */
/*     bottom: 34%; */
/*     left: 45%; */
/*     width: 40%; */
/*     height: 2px; */
/*     background: black; */
/*     transform: translateX(-50%) rotate(45deg); */
/*     transition: left .2s; */
/*   } */
/**/
/*   &:hover { */
/*     &::after { */
/*       left: 40%; */
/*     } */
/**/
/*     &::before { */
/*       left: 40%; */
/*     } */
/*   } */
/* } */

/* Article Page */
.article-page, .cour-page, .artiste-page {
  padding: 50px 20vw;
  display: flex;
  flex-direction: column;

  .article-title, .cour-title, .artiste-title {
    font-size: 3rem;
  }

  .article-information, .cour-information, .artiste-information {
    opacity: .6;
    font-size: 1.1rem
  }

  .renderer-section {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

    h1, h2, h3 {
      margin: 10px 0;
    }

    p {
      margin: 5px 0;
      overflow-wrap: break-word;
    }

    img {
      width: 100%;
    }

    a {
      color: blue;
      text-decoration: underline;
    }
  }
}

/* Textarea */

textarea {
  height: auto;
  width: 100%;
  background: transparent;
  font-size: 1rem;
  color: black;
  margin: 5px 0;
  font-family: "Outfit", sans-serif;
  border: 0;
  resize: none;
  outline: 0;
}


.input-file-container {
  position: relative;
  height: 30px;
  width: 200px;
  margin: 20px 0;

  &:hover .ui-input-file {
    background: black;
    color: white
  }

  .editor-add-input {
    opacity: 0;
    pointer-events: all;
    cursor: pointer;
  }

  .ui-input-file {
    position: absolute;
    pointer-events: none;
    height: 30px;
    width: 200px;
    font-size: .9rem;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid black;
    font-weight: 600;
    border-radius: 10px;
    transition: background .3s,
                color .3s;
  }
}


.save-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #386641;
  background: #ADC0B1;
  border: 2px solid #386641;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s,
              color .3s;

  &:hover {
    background: #386641;
    color: white
  }

}


/* Cour Element */
.cour-container, .artiste-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .image-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      min-height: 100%;
      height: auto;
      width: 100%;
    }
  }
  
  .cour-informations, .artiste-informations {
    h3 {
      font-weight: 500
    }

    p {
      font-size: .9rem;
      opacity: .5;
    }
  }

}

.cours-container {
  display: grid;
  grid: auto / 1fr 1fr 1fr;
  gap: 30px;
}

/* Loading */
.loading {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100svh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s;

  .loader {
    width: 250px;
    height: 10px;
    border-radius: 20px;
    background: lightgrey;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      border-radius: 20px;
      width: 0;
      height: 100%;
      background: #dda15e;
      animation: loader-animation 2.5s infinite linear;
    }

  }
}
