@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: unset;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

html, input, button {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body {
  position: relative;
}

.chronologie-page-container {
  background-color: #dda15e;
  height: 100svh;
  width: 100vw;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
  animation: prevent-mouse .1s forwards;
  animation-delay: 2s;
}

.chronologie-container {
  position: relative;
  margin-left: calc(50vw - 25px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50vw;
  transition-property: transform;
  transition-duration: 1000ms;
}

.chronologie-element-container {
  max-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.new-element div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-element-name, .update-element-name {
  outline: 0;
  border: 0;
  background: transparent;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fefae0;
  font-weight: bold;
  max-width: 300px;
}

.new-element-date-container, .update-element-date-container {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 10px;
  margin: 10px 0;

  .new-element-date, .update-element-date {
    width: 80px;
    outline: 0;
    border: 0;
    background: transparent;
    color: #fefae0;
    font-weight: bold;
    opacity: .7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }
}

.new-chronologie-button, .update-element-button {
  padding: 4px 12px;
  font-size: .9rem;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fefae0;
  color: #fefae0;
  font-weight: 600;
  border-radius: 10px;
  opacity: 0;
  transition: color .2s,
              background .2s,
              opacity .3s;

  &:hover {
    background: #fefae0;
    color: #dda15e;
  }
}

.new-chronologie-button-appear {
  opacity: 1;
}

.close-chronologie-edit {
  position: absolute;
  top: 0;
  left: -35px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 0;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    width: 100%;
    height: 2px;
    background: red;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
    width: 100%;
    height: 2px;
    background: red;
  }
}

.chronologie-element {
  width: 0px;
  height: 0px;
  border: 2px solid #fefae0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  animation: chronologie-pop .8s cubic-bezier(1, 0, 0, 2) forwards;

  &:hover::after {
    width: 70%;
    height: 70%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background: #fefae0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 
      width .5s,
      height .5s;
  }
}

.chronologie-element-active {
  &::after {
    width: 90%;
    height: 90%;
  }
}

.chronologie-element-container div {
  text-align: center;
  opacity: 0;
  animation: chronologie-name-appear 1s linear forwards;
  animation-delay: 1.2s;

  p:nth-child(1) {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fefae0;
    font-weight: bold;
  }

  p:nth-child(2) {
    color: #fefae0;
    font-weight: bold;
    opacity: .7;
  }
}

.chronologie-dashboard {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  animation: chronologie-name-appear 1s linear forwards;
  animation-delay: 1.2s;

  span {
    cursor: pointer;
    opacity: .4;
    transition: opacity .4s;

    &:hover {
      opacity: 1;
    }
  }
}

.prev-link {
  display: block;
  height: 3px;
  border-radius: 2px;
  background: white;
  position: absolute;
  left: -49vw;
  top: 25px;
  transform: translateY(-50%);
  opacity: 0;
  animation: chronologie-appear .5s linear forwards;
  animation-delay: 1s;
}


.next, .previous {
  position: absolute;
  width: 30vw;
  height: 100svh;
  right: 0;
  z-index: 99;
  background: #DDA15E;
}

.next {
  background: -webkit-linear-gradient(90deg, rgba(221, 161, 94, 0) 0%, rgba(221, 161, 94, 1) 90%);
  background: -moz-linear-gradient(90deg, rgba(221, 161, 94, 0) 0%, rgba(221, 161, 94, 1) 90%);
  background: linear-gradient(90deg, rgba(221, 161, 94, 0) 0%, rgba(221, 161, 94, 1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DDA15E", endColorstr="#DDA15E", GradientType=1);
}

.previous {
  left: 0;
  background: #DDA15E;
  background: -webkit-linear-gradient(90deg, rgba(221, 161, 94, 1) 0%, rgba(221, 161, 94, 0) 100%);
  background: -moz-linear-gradient(90deg, rgba(221, 161, 94, 1) 0%, rgba(221, 161, 94, 0) 100%);
  background: linear-gradient(90deg, rgba(221, 161, 94, 1) 0%, rgba(221, 161, 94, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DDA15E", endColorstr="#DDA15E", GradientType=1);
}

/* Article */
.articles-page {
  background: #fdfffc;
  padding: 50px;
}

.articles-page-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 370px;
  text-decoration: none;
  
  .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;

    &:hover .article-image {
      height: 110%;
    }

    .article-image { 
      transition: height .2s ease-out;
      height: 105%;
      min-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  .article-information-container {
    margin-top: 10px;
    overflow: hidden;

    h3 {
      font-weight: 500
    }

    p {
      font-size: .9rem;
      opacity: .5;
    }
  }
}

.search-article {
  padding: 5px 10px; 
  border-radius: 5px;
  outline: 0;
  border: 1px solid lightgrey;
  margin-bottom: 30px;
}

/* Error Handler */
.fetch-return {
  position: absolute;
  top: 20px;
  right: -100%;
  opacity: 0;
  animation: error-appear .4s ease-out forwards;
  -webkit-animation-name: error-appear, error-disappear;
  -webkit-animation-duration: .3s, .5s;
  -webkit-animation-delay: 0s, 4.5s;
  max-width: 30vw;
  height: 70px;
  padding: 10px 15px;
  text-align: end;
  border-radius: 20px;
  font-weight: 550;
  font-size: .9rem;
  z-index: 999;
  transition: top .3s;
}

.success-return {
  border: 2px solid #386641;
  color: #386641;
  background: #6a994e;
  box-shadow: rgba(163, 177, 138, 0.2) 0px 8px 24px;
}

